<div class="hero1">
    <header>
        <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav  mr-auto">
            <!-- Brand -->
           <img [src]="logoimage" alt="logo" class="ml-5" style="width:250px;">
        </ul>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
        <div class="col-md-8" >
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li>
                    <a    href="#" class="btn" role="button">Join</a>
                </li>
                <li>
                    <a    href="#" class="btn" role="button">Login</a>
                </li>
              </ul>
            </div>
        </div>
          </nav>
    </header>

     <!-- heading content -->
   
        <div class="container heading-align">
            <div class="col-md-6">
            <p><b>Online learning Platform</b></p>
            </div>
            <div class="col-md-8">
               <p class="para"> Build skills with course,certificate, and degrees online from world-class universites and companines</p>
               <a    href="#" class="btn" id="btn" role="button">Join For Free</a>
            </div>   
        </div>
    
        
    
    <!--card-->

    <div class="card-columns container mt-5">
        <div class="card ">
            <div class="card-body text-center ">
                <div class="row">
                    <div class="col-md-2 pt-3">
                        <img src="assets/image/icon1.svg" alt="icon" style="width:60px;">
                    </div> 
                    <div class="col-md-8 ">
                        <p class="card-text">60+ UX courses</p>
                        <p>The automated process all your website tasks.</p>
                     </div>
                </div>
            </div>
        </div>

        <div class="card ">
            <div class="card-body text-center ">
                <div class="row">
                    <div class="col-md-2 pt-3">
                        <img src="assets/image/icon2.svg" alt="icon" style="width:60px;">
                    </div> 
                    <div class="col-md-8">
                        <p class="card-text">Expert instructors</p>
                        <p>The automated process all your website tasks.</p>
                     </div>
                </div>
            </div>
        </div>

        <div class="card ">
            <div class="card-body text-center ">
                <div class="row">
                    <div class="col-md-2 pt-3">
                        <img src="assets/image/icon3.svg" alt="icon" style="width:60px;">
                    </div> 
                    <div class="col-md-8">
                        <p class="card-text">Life time access</p>
                        <p>The automated process all your website tasks.</p>
                     </div>
                </div>
            </div>
        </div>
    </div>

            <!--card deck-->

            <div class="text-center pt-5">
                <h2>Our featured courses</h2>
            </div>

            <div class="card-deck p-5 ">
                <div class="card pt-5,pl-5,pr-5" style="width:600px">
                    <img class="card-img-top" src="assets/image/featured1.png" alt="featured" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">User Experience</h4>
                      <a href="#" id="featured">Fundamental of UX for Application design</a>
                      <p id="featured-para">The automated process all your website tasks.Discover tools and techinques to engage effectively with vulnerable children and young people</p>
                      <a href="#" class="btn" id="btn1" role="button">Find Out More</a>
                    </div>
                </div>

                <div class="card pt-5,pl-5,pr-5" style="width:600px">
                    <img class="card-img-top" src="assets/image/featured2.png" alt="featured" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">User Experience</h4>
                      <a href="#" id="featured">Fundamental of UX for Application design</a>
                      <p id="featured-para">The automated process all your website tasks.Discover tools and techinques to engage effectively with vulnerable children and young people</p>
                      <a href="#" class="btn" id="btn1" role="button">Find Out More</a>
                    </div>
                </div>
                <div class="card pt-5,pl-5,pr-5" style="width:600px">
                    <img class="card-img-top" src="assets/image/featured1.png" alt="featured" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">User Experience</h4>
                      <a href="#" id="featured">Fundamental of UX for Application design</a>
                      <p id="featured-para">The automated process all your website tasks.Discover tools and techinques to engage effectively with vulnerable children and young people</p>
                      <a href="#" class="btn" id="btn1" role="button">Find Out More</a>
                    </div>
                </div>
            </div>

            <!--About-->

            <div class="container">
                <img src="assets/image/about.svg" alt="about" class="rounded-circle" style="width:100px;height:100px; background-color: blueviolet;">
                <div class="row container">
                    <div class="col-md-6 mt-3">
                        <h1>Learn new skills online with top educators</h1>
                        <p class="mt-5">The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                        <div class="row mt-5">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                        
                            <div class="col-md-10">
                                Techniques to engage effectively with vulnerable children and young people.
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                            <div class="col-md-10">
                                Join millions of people from around the world learning together.
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                            <div class="col-md-10">
                                Join millions of people from around the world learning together. Online learning is as easy and natural.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!--Explore subject-->
            <div class=" container mt-5">
                <h1><center>Explore top subjects</center></h1>
                <div class="row mt-5">
                    <div class="col-md-3">
                       <a href="#"><img src="assets/image/topic1.png" class="rounded"></a>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/image/topic2.png" class="rounded">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/image/topic3.png" class="rounded">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/image/topic4.png" class="rounded">
                    </div>
                    <div class="col-md-3 mt-4">
                        <img src="assets/image/topic5.png" class="rounded">
                    </div>
                    <div class="col-md-3 mt-4">
                        <img src="assets/image/topic6.png" class="rounded">
                    </div>
                    <div class="col-md-3 mt-4">
                        <img src="assets/image/topic7.png" class="rounded">
                    </div>
                    <div class="col-md-3 mt-4">
                        <img src="assets/image/topic3.png" class="rounded">
                    </div>
                </div>
                <center><a href="#" class="btn"  id="btn1" role="button">View More Subject</a></center> 
            </div>

            <!--learner-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/image/about3.png" alt="about" style="width:500px">
                    </div>
                    <div class="col-md-6">
                        <p>Learner outcomes on courses you will take</p>
                        <div class="row mt-5">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                        
                            <div class="col-md-10">
                                Techniques to engage effectively with vulnerable children and young people.
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                            <div class="col-md-10">
                                Join millions of people from around the world learning together.
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <img src="assets/image/right-icon.svg" alt="icon" >
                            </div>
                            <div class="col-md-10">
                                Join millions of people from around the world learning together. Online learning is as easy and natural.
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--Community experts-->

            

</div>
    <footer>

    </footer>
