.hero1{
    background-image: url('/assets/image/bgimages.jfif') !important;
    background-size: cover;
    height: 700px;
}

.nav-link{
    color:whitesmoke;
    font-size: 20px;
    padding:25px;
    }
.btn{
    color: white;
    border: 1px solid white;
    width:100px;
    margin: 20px;
}
.heading-align{
    color:white;
    margin-top: 150px;
    font-size: 50px;
    
   
}
.para{
    font-size: 24px;
    margin-top:20px;

}
#btn{
    color: white;
    border: 1px solid white;
    width:150px;
}
.card-text{
    color: darkblue;
    font-weight: bold;
    font-size:20px
}

/* And from the left*/

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

h2{
    color: darkblue;
    font-weight: bold;

}
#featured{
    color:darkblue;
    font-size:22px;
    font-weight:bold;
}
#featured-para{
    font-size:16px;
    margin-top: 15px;

}

#btn1{
    border: 1px solid black;
    width:250px;
    color: black;

}

#link{
    background-image: url('/assets/image/topic1.png') !important;
    background-size: cover;
    height:100px;
    width:250px;

}